<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<properties resource="db.properties" />
	
	<settings>
		<!-- 데이터 등록시 해당 속성값이 존재하지 않으면(즉, NULL) '부적합한 열유형 1111' 예외발생함.
			 이 경우 해당 타입을 명시적으로 알려주던지 ex) #{속성명, jdbcType=타입이름} 
			 아래와 같이 NULL인 속성에 대하여 특정값으로 자동 설정이 가능함.
		 -->
		 <setting name="jdbcTypeForNull" value="NULL"/> 
	
		<!-- DB 컬럼명을 낙타표기법으로 속성명과 자동 매핑 처리하기 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="userClass.vo.UsrClsVO" alias="UsrClsVO"/>
		<typeAlias type="member.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="notice.vo.NoticeVO" alias="NoticeVO" />
		<typeAlias type="notice.vo.AtchFileVO" alias="AtchFileVO" />
		<typeAlias type="member.vo.InsVO" alias="InsVO"/>
		<typeAlias type="funding.vo.FundingVO" alias="FundingVO"/>
		<typeAlias type="donate.vo.DonateVO" alias="DonateVO"/>
		<typeAlias type="volunteer.vo.VolunteerVO" alias="VolunteerVO"/>
		<typeAlias type="volunteer.vo.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="volunteer.vo.ReservationVO" alias="ReservationVO"/>
		<typeAlias type="volunteer.vo.WishVO" alias="WishVO"/>
		<typeAlias type="userClass.vo.ReplyVO" alias="ReplyVO"/>
	</typeAliases>
	
	<environments default="dev">
	
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
				<!-- 활성화된 최대 커넥션 수 -->
				<property name="poolMaximumActiveConnections" value="2"/>
				<!-- 유휴상태에서의 최대 커넥션 수 -->
				<property name="poolMaximumIdleConnections" value="2"/>
			</dataSource>
		</environment>
		
	</environments>
	<mappers>
		<mapper resource="mappers/funding.xml" />
		<mapper resource="mappers/donate.xml" />
		<mapper resource="mappers/member.xml" />
		<mapper resource="mappers/volunteer.xml" />
		<mapper resource="mappers/userClass.xml" />
		<mapper resource="mappers/notice.xml"/>
	</mappers>
		
</configuration>

  
  