@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.myWrap {width:100%; heigth:100%; border:1px solid red}

#side {
	width: 20%;
	height:100%;
	background-color:#000; 
	opacity:0.7;
	color:#fff;
	text-align:center;
	position:fixed;
	top:0;
	z-index:99999;
	padding:10% 0;
}

.p_img {background-color:#fff; width:100px; heigth:100px;overflow:hidden; margin:5% auto}
.p_img img {width:100%;display:block;}



#side:active {
	background:#50DCA4;
}

#side ul {width:100%;}

#side ul li {margin:2% 0}
#side ul li a {width:100%; padding:3% 0}
#side ul li a:active {color:#444}

#side ul li a {text-decoration:none; color:#fff;font-size:18px;font-weight: bold; 
	font-family:'GmarketSansMedium', sans-serif ;font-weight:bold;}

#content {
	width: 100%; height:100%; 
	padding:7% 15%
}

.title {
	font-weight: bold; 
	font-family:'GmarketSansMedium', sans-serif ;font-weight:bold;
	position:relative;border:1px solid red
}

.title p {
	position:absolute;
	opacity:0.1;
	font-size:100px;
	top:0;
	color:#ccc
}




#content .mycon { width:50%; float:left; display:block;height:45vh; border:1px solid #ccc;
padding:5%; box-shadow : 0px 0px 20px #f1f1f1; border-radius:10px; }
#content .mycon:hover {box-shadow : 0px 5px 30px #ccc;}
